:root {
  --Primary-color: #7e3988;
  --Light-primar-color: #a9a7d6;
  --Secondary-color: #ffe822;
  --Light-secondary-color: #f9e798;
  --Text-primary-color: rgb(26, 25, 25);
  --Text-secondary-color: rgb(73, 73, 73);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  color: (var(--Text-primary-color));
  /* overflow: hidden; */
  font-family: "Poppins", sans-serif;
  background: linear-gradient(360deg, rgb(230, 230, 230), whitesmoke);
}

header {
  display: flex;
  width: 100vw;
  height: 100px;
  position: absolute;
  margin: 0;
  background: linear-gradient(
    45deg,
    var(--Primary-color),
    var(--Light-primar-color)
  );
  border-radius: 0 0 5px 5px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 2px 10px var(--Light-primar-color);
}
.header__logo {
  height: 80px;
  padding: 0 20px;
  filter: drop-shadow(0px 0px 4px var(--Light-secondary-color));
}
.header__text {
  color: rgb(19, 19, 19);
  text-shadow: 2px 2px 15px whitesmoke;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 30px;
}
.pantalla-inicial {
  padding-top: 100px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  overflow: hidden;
}

.pantalla-inicial__form {
  padding-top: 50px;
  height: 420px;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: space-around;
}

.pantalla-inicial__form input[type="submit"] {
  /* flex-basis: 33%; */
  border: none;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  text-overflow: ellipsis;
  box-shadow: 5px 2px 10px rgb(97, 97, 97), -5px -2px 10px whitesmoke;
  font-size: 40px;
  background: var(--Primary-color);
  color: var(--Secondary-color);
  text-shadow: 5px 2px 10px rgb(97, 97, 97);
}

.form-group {
  flex-basis: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 25%;
}
.form-group label {
  font-size: 20px;
  flex-basis: 35%;
  text-align: center;
  margin-bottom: 10px;
  display: inline;
  color: var(--Secondary-color);
  background: rgb(56, 56, 56);
}

.form-group input {
  border-radius: 3px;
  border: none;
  height: 30px;
  flex-basis: 66%;
  box-shadow: 5px 5px 10px var(--Text-secondary-color), 5px -5px 10px whitesmoke;
}

.pantalla-inicial__historial {
  flex-basis: 100%;
  height: 100px;
  overflow: auto;
  background: linear-gradient(45deg, var(--Light-secondary-color), white);
}

#historial-ul {
  list-style: none;
  padding: 0;
}
#historial-ul li {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style: none;
}
#historial-ul li span {
  text-align: center;
  display: inline-block;
  width: 100px;
}
#historial-ul li i {
  font-size: 32px;
  color: var(--Primary-color);
}

.pantalla-loading {
  display: none; /* Cambiar por disply flex desde js */
  position: relative;
  height: 100vh;
  width: 100vw;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* display: none; */
}
.pantalla-loading__img {
  height: 30%;
  text-align: center;
  filter: drop-shadow(20px 20px 20px var(--Light-secondary-color));
  animation: growing 3s infinite;
  animation-delay: 0.3s;
}

.pantalla-cartas {
  display: none; /* Cambiar por disply flex desde js */
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  height: 100vh;
  max-width: 100vw;
  /* overflow: hidden; */
  background: linear-gradient(180deg, whitesmoke, var(--Light-primar-color));
}

.pantalla-cartas__btnexit {
  position: relative;
  flex-basis: 100%;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 40px;
  color: var(--Primary-color);
  /* background: chocolate; */
}
.pantalla-cartas__header {
  flex-basis: 100%;
  text-align: center;
  font-size: 28px;
  /* background: chartreuse; */
}

.pantalla-cartas__img-container {
  margin-top: 30px;
  flex-basis: 200px;
  max-width: 200px;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  /* background: cornflowerblue; */
}
.pantalla-cartas__img {
  height: 200px;
  width: auto;
}
.pantalla-cartas__btnslider {
  flex-basis: 75px;
  text-align: center;
  font-size: 32px;
  color: var(--Primary-color);
  filter: drop-shadow(2px 2px 10px white);
}
.pantalla-cartas__title {
  flex-basis: 100%;
  font-size: 30px;
  text-align: center;
  /* background: darkmagenta; */
}
.pantalla-cartas__description {
  flex-basis: 100%;
  text-align: center;
  /* background: darkolivegreen; */
  height: 150px;
}

.pantalla-modal {
  display: none; /* Cambiar por disply flex desde js */
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 3;
  padding-top: 20px;
  background: rgba(245, 245, 245, 0.651);
  justify-content: center;
  align-content: flex-start;
}

.pantalla-modal__botonera {
  height: 60vh;
  width: 90%;
  background: var(--Light-primar-color);
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(70, 70, 70, 0.829),
    -5px -5px 5px rgba(206, 206, 206, 0.829);
}
.pantalla-modal__botonera__btn {
  border: none;
  border-radius: 5px;
  margin: 20px;
  width: 160px;
  height: 50px;
  box-shadow: 5px 5px 10px var(--Primary-color),
    -2px -2px 5px var(--Light-primar-color);
  font-size: 18px;
}

.pantalla-resultados {
  display: none; /* Cambiar por disply flex desde js */
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-flow: wrap row;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
.pantalla-resultados__contenedorPlayer {
  height: 180px;
  width: 100%;
  flex-basis: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
}

.pantalla-resultados__contenedorPlayer__titulo {
  flex-basis: 100%;
}
.pantalla-resultados__contenedorPlayer__img {
  background-color: whitesmoke;
  flex-basis: 90px;
  height: 90px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  box-shadow: 2px 2px 5px var(--Text-primary-color),
    -2px -2px 2px var(--Text-secondary-color);
}
.pantalla-resultados__contenedorPlayer__img img {
  width: 90px;
}
.pantalla-resultados__match {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.pantalla-resultados__match__pre-titulo {
  flex-basis: 100px;
  padding: 2px;
  font-size: 20px;
  display: inline;
  color: var(--Secondary-color);
  background: rgb(56, 56, 56);
}
.pantalla-resultados__match__titulo {
  text-align: center;
  margin: 0;
  padding: 0;
  flex-basis: 100%;
  font-size: 150px;
  line-height: 150px;
  color: var(--Primary-color);
  text-shadow: 5px 0px whitesmoke;
}

.pantalla-resultados__botonera {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  align-items: center;
  background: var(--Text-primary-color);
  border-top: solid 3px whitesmoke;
}
.pantalla-resultados__botonera button {
  height: 35px;
  width: 100px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background: var(--Light-secondary-color);
  font-size: 18px;
  font-weight: bold;
  color: var(--Text-primary-color);
  box-shadow: 2px 2px 2px var(--Text-secondary-color);
}
#historialul > li:nth-child(1) {
  color: red;
}
@keyframes growing {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(4);
    opacity: 0.7;
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-content: flex-start;
    background: url(https://www.pngkey.com/png/full/23-236724_png-file-svg-tablet-clipart.png)
      no-repeat center center;
    background-size: contain;
  }
  header {
    margin-top: 5vh;
    max-width: 23vw;
  }
  .pantalla-inicial {
    margin-top: 5vh;
    padding-top: 100px;
    min-height: 82vh;
    width: 23vw;
  }

  .pantalla-inicial__form {
    padding-top: 60px;
    height: 300px;
    width: 100%;
  }
  .pantalla-inicial__form input[type="submit"] {
    height: 70px;
    width: 70px;
    font-size: 28px;
  }

  .form-group {
    flex-basis: 100%;
    height: 40%;
  }
  .form-group label {
    font-size: 15px;
  }

  .form-group input {
    height: 25px;
  }

  .pantalla-inicial__historial {
    height: 100px;
  }

  #historial-ul li span {
    width: 70px;
  }
  #historial-ul li i {
    font-size: 20px;
  }

  .pantalla-loading {
    margin-top: 5vh;
    height: 82vh;
    max-width: 23vw;
    /* display: none; */
  }
  .pantalla-cartas {
    margin-top: 5vh;
    height: 82vh;
    max-width: 23vw;
  }
  .pantalla-cartas__btnslider {
    flex-basis: 35px;
  }
  .pantalla-cartas__img {
    height: 120px;
    width: auto;
  }

  .pantalla-cartas__description {
    margin: 0;
  }
  .pantalla-modal {
    margin-top: 5vh;
    height: 82vh;
    max-width: 23vw;
  }
  .pantalla-modal__botonera {
    height: 50vh;
    width: 80%;
  }
  .pantalla-modal__botonera__btn {
    margin: 10px;
    width: 130px;
    height: 35px;
    font-size: 12px;
  }
  .pantalla-resultados {
    margin-top: 5vh;
    min-height: 82vh;
    max-width: 23vw;
    overflow: auto;
  }
  .pantalla-resultados__contenedorPlayer {
    height: 140px;
    width: 100%;
    overflow: hidden;
  }

  .pantalla-resultados__contenedorPlayer__img {
    flex-basis: 60px;
    height: 60px;
  }
  .pantalla-resultados__match {
    height: 30%;
    align-items: center;
  }
  .pantalla-resultados__match__pre-titulo {
    flex-basis: 80px;
    padding: 1px;
    font-size: 15px;
  }
  .pantalla-resultados__match__titulo {
    flex-basis: 100%;
    font-size: 100px;
    line-height: 120px;
  }

  .pantalla-resultados__botonera {
    height: 50px;
  }
  .pantalla-resultados__botonera button {
    height: 20px;
    width: 70px;
    margin: 0 5px;
    font-size: 12px;
  }
}
